.container{
    width: 600px; 
    height:12000 px;
    display:flex;
    flex-direction: row;
    border-width: 2px;
    border-style:solid ;
    
    border-color: brown;
    margin-left:  250px; 
   
  }

  .verde{  

    background-color:seagreen;
	width: 200px;
	height: 200px;
	line-height: 100px;
	font-size: 30px;
    margin-left: 0px;
    align-content: center;
    align-items:center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.azul{  

    background-color:blue;
	width:200px;
    height: 200px;
	
	font-size: 30px;
    margin-left: 0px;margin-top: 200px;
    margin-bottom: 200px;

}
.rojo{  

    background-color:rgb(172, 47, 41);
	width: 200px;
	height: 200px;
	
	font-size: 30px;
    margin-left: 0px;
    margin-top: 200px;
    margin-bottom: 200px;
}